.objectif {
    font-size: 1rem;
    color: #74798C;
    font-weight: 400;

}

.objectif-value {
    font-size: 1.5rem;
    color: #000000;
    font-weight: 400;

}


.objectif-text {
    font-size: 0.7rem;
    color: #74798C;
    font-weight: 400;
}