.barchart {
    background-color: #fbfbfb;
    border-radius: O.2rem;
}



.legend-color-class {
    color: gray;

}

.barchart-container {
    border-radius: 0.2rem;
    background-color: #f1f1f19e;

}

.custom-tooltip {

    background-color: red;
    padding: 0.5rem;
    width: max-content;

}

.custom-tooltip p {
    font-size: 0.8rem;
    color: #ffffff;
}