.main-container {
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: column;
    padding: 0 2rem 0 2rem;


}

.message-container {
    display: grid;
    width: 80%;
    height: 70%;

}

.message {
    place-self: center;
}

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-arround;
    padding: 1rem;
    height: 80%;
}

.charts {
    width: 80%;
    height: 100%;

}

.barchart-dashbord {
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 50%;

}

.page-title {
    margin: 1rem;
    height: 20%;
}

.widgets {
    width: 18%;
    margin-left: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: initial;

}


.charts-groupe {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 50%;
    width: 100%;

}

.charts-groupe div {
    flex-grow: 1;
    flex-basis: calc(100% / 3);

}

.title-skelton {
    border-radius: 0px 27px 0px 29px;
    -moz-border-radius: 0px 27px 0px 29px;
    -webkit-border-radius: 0px 27px 0px 29px;
    border: 2px solid #ff0101;
}