.redchart {
    background-color: red;
    border-radius: 0.5rem;
    position: relative;

}

.label {
    color: blueviolet;

}

.textline {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}

.linechart-tooltip {

    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    width: max-content;

}

.linechart-tooltip p {
    font-size: 0.8rem;
    color: #e10000;
}

.session-length {
    color: #000;
}